
body{
   font-family: Arial;
   background-color:beige;
   color: whitesmoke;
}
.centered-axis-x {
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
}
h1 { 
    font-family: Helvetica;
    font-size: 100%;
    color: lime;
    text-align: center;

 }
 h2{
    font-family: Helvetica;
    font-size: 10%;
    color: lime;
    text-align: center;
 }
 p{
   font-family: Arial;
   font-size: 10%;
   color: whitesmoke;
   text-align: center;
   background-color: whitesmoke;
   
 }
 .name {
   font-family: Arial;
   font-size: 10%;
   color: black;
   text-align: center;
   background-color: grey;
 }
 hr{
    color: grey;
    border: 1;
    border-color: grey;
    border-style: double;
 }
 br{
   color: orange;
   font-size: 30%;
 }
 h3{
    color: black;
    font-size: 10%;

 }
 h4{
    font-size: 5%;
    color: black;
 }
 .roundImg{
   margin: auto;
    width: 40%;
    border-radius: 70%;
    display: block;
    left: 100%;
    margin-left: auto;
    margin-right: auto;
 }


 .roundImgContainer {
   margin: auto;
  position: relative;
  width: 40%;
}

 .roundImageOverlay {
   opacity: .8;
   margin: auto;
    border-radius: 70%;
   position: absolute;
   bottom: 100%;
   left: 0;
   right: 0;
   background-color: #008CBA;
   overflow: hidden;
   width: 40%;
   height: 0;
   transition: .5s ease;
 }
 
 .roundImgContainer:hover .roundImageOverlay {
   margin: auto;
   bottom: 0;
   height: 100%;
 }
 
 .text {
    margin: auto;
   white-space: nowrap; 
   color: black;
   font-size: 5px;
   position: absolute;
   overflow: hidden;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
 }