body {
   margin: 0;
   font-family: Arial, sans-serif;
   zoom:100%;
   user-zoom:fixed;
}

header {
   background-color: #333;
   padding: 10px;
}

nav {
   display: flex;
   justify-content: center;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

li {
   margin: 0 10px;
}

a {
   text-decoration: none;
   color: #fff;
   padding: 8px 16px;
   display: inline-block;
}

a:hover {
   background-color: #555;
}

/* Style for the main navigation */
.main-nav {
   background-color: #333;
   user-zoom: fixed;
}

.main-nav ul {
   display: flex;
   justify-content: center;
}

.main-nav li {
   margin: 0 20px;
}

/* Optional: Change color on hover */
.main-nav a:hover {
   background-color: #555;
   border-radius: 5px;
}
/* Style for the active link */
.main-nav a.active {
   background-color: #555;
   border-radius: 5px;
}

header {
   background-color: #333;
   padding: 10px;
}

.aboutSection {
   background-color: #474e5d;
   padding: 20px;
   color: black;
   max-width: 50%;
   border-radius: 10px;
   margin: 1%;
}
h2 {
   margin-bottom: 0.1%;
}